<html ng-app="store">

   <head>
      <title>Store</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
   </head>

   <body class="container" ng-controller="StoreController as store">

<!--VIEW #1-->

      <ul class="list-group">
         <li class="list-group-item" ng-repeat="product in store.products | orderBy:'price'">
            <h3>{{product.name}}
               <em class="pull-right">{{product.price | currency}}</em>
               <img ng-src="{{product.images[0].full}}"/>
            </h3>
         </li>
      </ul>

<!--VIEW #2-->

      <div ng-repeat="product in store.products">

         <h1>{{product.name}}</h1>
         <h2>${{product.price}}</h2>
         <img ng-src="{{product.images[0].full}}"/>
         <button class="btn btn-primary">Add to Cart</button>

￼<section>
   <ul class="nav nav-pills">
      <li> <a href ng-click="tab = 1">Description</a> </li>
      <li> <a href ng-click="tab = 2">Specifications</a> </li>
      <li> <a href ng-click="tab = 3">Reviews</a> </li>
   </ul>
   {{tab}}
</section>

<div class="panel" ng-show="tab === 1">
   <h4>Description</h4>
   <p>{{product.description}} </p>
</div>
<div class="panel" ng-show="tab === 2">
   <h4>Specifications</h4>
   <p>Not Yet</p>
</div>
<div class="panel" ng-show="tab === 3">
   <h4>Reviews</h4>
   <p>Not Yet</p>
</div>


   <script type="text/javascript" src="angular.min.js"></script>
   <script type="text/javascript" src="app.js"></script>

   </body>

</html>
